.card-img-top{
    position: relative;
    left: 20px;
    top:20px;
    padding-bottom: 20px;
    width:13%;
}

.card{
    background-color: #fafafb;
    border-color: #dbdbdb;
    border-radius: 1px;
}

.card:hover{
    background-color: #ffffff;
    border: none;
}